Package: test-sh
Version: 1.1.1
Section: Utilities
Installed-Size: 24212
Priority: optional
Architecture: all
Depends: php-cli|php5-cli,php5-cli|php-xml
Recommends: build-essential, php-gd|php5-gd
Maintainer: test benchwork <liyb@163.com>
Description:descr 
 liyb@163.com
