<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Go Templates</title>
</head>
<body>
<div class="container-fluid">
	<h1>底板</h1>
    {{block "content" . }}{{end}}
</div>
</body>
</html>